﻿@using Microsoft.AspNetCore.Mvc.Localization
@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.ReportsBalance

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Balance"];

    var balanceInstructionFullName = Constants.InstructionsNamePrefix + Constants.InstructionNameBalance;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/reports.css" />
        <link rel="stylesheet" href="~/css/report_balance.css" />
        <link rel="stylesheet" href="~/css/instructions.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/reports.min.css" />
        <link rel="stylesheet" href="~/css/report_balance.min.css" />
        <link rel="stylesheet" href="~/css/instructions.min.css" />
    </environment>
}

<div class="content">
    <partial name="NavBar" />

    <div class="reports-navbar">
        <div class="reports-navbar-subcontainer mx-auto">
            <a asp-action="Balance" class="p-2 reports-navbar-selected">@Localizer["Balance"]</a>
            <a asp-action="Monthly" class="p-2">@Localizer["Monthly"]</a>
            <a asp-action="History" class="p-2">@Localizer["History"]</a>
        </div>
    </div>

    @if (Context.Request.Cookies.Any(c => c.Key == balanceInstructionFullName))
    {
        <div class="alert alert-warning instructions-container" data-instruction="@Constants.InstructionNameBalance">
            <span class="instructions-title">@Localizer["BalanceInstructionsTitle"]</span>
            <br />
            <br />
            @Localizer["BalanceInstructions"]
            <br />
            <br />
            <a id="alert-dismiss" href="#">@Localizer["GotIt"]</a>
        </div>
    }

    <div class="reports-main-container py-4">
        <div class="balance-container">
            <div class="balance-title-container my-5">
                <h5 class="mr-auto balance-title">@Localizer["CurrentBalance"]</h5>
                <h2 class="ml-auto balance-title">@Model.CurrentBalance.ToString("C")</h2>
            </div>

            @for (int i = 0; i < Model.Months.Count; i++)
            {
                <div class="d-flex my-4">
                    <h5 class="mr-auto balance-month">@Model.Months[i].Key.ToString("MMMM yyyy")</h5>
                    <h5 class="balance-month">@Model.Months[i].Value.ToString("C")</h5>
                </div>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>


@section Scripts {
    <environment include="Development">
        <script src="~/js/instructions.js"></script>
        <script src="~/js/logout.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/instructions.min.js"></script>
        <script src="~/js/logout.min.js"></script>
    </environment>
}
