﻿@using Microsoft.AspNetCore.Mvc.Localization
@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.ReportsHistory

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["History"];

    var historyInstructionFullName = Constants.InstructionsNamePrefix + Constants.InstructionNameHistory;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/reports.css" />
        <link rel="stylesheet" href="~/css/report_history.css" />
        <link rel="stylesheet" href="~/css/instructions.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/reports.min.css" />
        <link rel="stylesheet" href="~/css/report_history.min.css" />
        <link rel="stylesheet" href="~/css/instructions.min.css" />
    </environment>
}

<div class="content">
    <partial name="NavBar" />

    <div class="reports-navbar">
        <div class="reports-navbar-subcontainer mx-auto">
            <a asp-action="Balance" class="p-2">@Localizer["Balance"]</a>
            <a asp-action="Monthly" class="p-2">@Localizer["Monthly"]</a>
            <a asp-action="History" class="p-2 reports-navbar-selected">@Localizer["History"]</a>
        </div>
    </div>

    @if (Context.Request.Cookies.Any(c => c.Key == historyInstructionFullName))
    {
        <div class="alert alert-warning instructions-container" data-instruction="@Constants.InstructionNameHistory">
            <span class="instructions-title">@Localizer["HistoryInstructionsTitle"]</span>
            <br />
            <br />
            @Localizer["HistoryInstructions"]
            <br />
            <br />
            <a id="alert-dismiss" href="#">@Localizer["GotIt"]</a>
        </div>
    }

    <div class="reports-main-container pb-4">
        <div class="reports-container">
            @if (Model.Entries != null && Model.Entries.Count > 0)
            {
                @foreach (var entryPair in Model.Entries)
                {
                    <h4 class="history-month mb-4">@entryPair.Key.ToString("MMMM yyyy")</h4>

                    @foreach (var entry in entryPair.Value)
                    {
                        <div class="history-entry">
                            <text class="history-entry-date my-auto">@entry.Date.ToString("dd-MMM-yy")</text>
                            <div class="">
                                <h5 class="history-entry-category mb-1">@entry.Tag.Category.Name</h5>

                                <ul class="list-unstyled mb-0">
                                    <li class="badge badge-info category-tag">@entry.Tag.Name</li>
                                </ul>
                            </div>
                            <h5 class="history-entry-amount my-auto ml-auto">@entry.Amount.ToString("C")</h5>
                            <a asp-action="HistoryDelete" asp-route-id="@entry.Id" class="my-auto" data-delete-message="@Localizer["AreYouSureDeleteEntry"]">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    }
                }
            }
            else
            {
                <h5 class="no-entries-label">@Localizer["NoEntriesSaved"]</h5>
                <a asp-route="wallet">@Localizer["AddFirstOne"]</a>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/logout.js"></script>
        <script src="~/js/reports.js"></script>
        <script src="~/js/instructions.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/logout.min.js"></script>
        <script src="~/js/reports.min.js"></script>
        <script src="~/js/instructions.min.js"></script>
    </environment>
}
