﻿@using Microsoft.AspNetCore.Mvc.Localization
@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.ReportsMonthly

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Monthly"];

    var monthlyInstructionFullName = Constants.InstructionsNamePrefix + Constants.InstructionNameMonthly;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/reports.css" />
        <link rel="stylesheet" href="~/css/report_monthly.css" />
        <link rel="stylesheet" href="~/css/instructions.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/reports.min.css" />
        <link rel="stylesheet" href="~/css/report_monthly.min.css" />
        <link rel="stylesheet" href="~/css/instructions.min.css" />
    </environment>
}

<div class="content">
    <partial name="NavBar" />

    <div class="reports-navbar">
        <div class="reports-navbar-subcontainer mx-auto">
            <a asp-action="Balance" class="p-2">@Localizer["Balance"]</a>
            <a asp-action="Monthly" class="p-2 reports-navbar-selected">@Localizer["Monthly"]</a>
            <a asp-action="History" class="p-2">@Localizer["History"]</a>
        </div>
    </div>

    @if (Context.Request.Cookies.Any(c => c.Key == monthlyInstructionFullName))
    {
        <div class="alert alert-warning instructions-container" data-instruction="@Constants.InstructionNameMonthly">
            <span class="instructions-title">@Localizer["MonthlyInstructionsTitle"]</span>
            <br />
            <br />
            @Localizer["MonthlyInstructions"]
            <br />
            <br />
            <a id="alert-dismiss" href="#">@Localizer["GotIt"]</a>
        </div>
    }

    <div class="reports-main-container">
        <div class="monthly-container">
            @if (Model.Spends != null && Model.Spends.Count > 0)
            {
                @foreach (var item in Model.Spends)
                {
                    <h4 class="history-month mt-5 mb-4">@item.Month.ToString("MMMM yyyy")</h4>

                    <table class="table">
                        <tbody>
                            @foreach (var spend in item.SpendsByCategory)
                            {
                                <tr>
                                    <td>@spend.Key</td>
                                    <td class="text-right">@spend.Value.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            else
            {
                <h5 class="no-entries-label">@Localizer["AddSomeEntries"]</h5>
                <a asp-route="wallet">@Localizer["AddFirstOne"]</a>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/instructions.js"></script>
        <script src="~/js/logout.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/instructions.min.js"></script>
        <script src="~/js/logout.min.js"></script>
    </environment>
}