﻿@using Microsoft.AspNetCore.Mvc.Localization
@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.CategoriesForm

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.IsNew ? Localizer["NewCategoryTitle"] : Localizer["EditCategoryTitle"];

    string newCategoryInstructionsFullName = Constants.InstructionsNamePrefix + Constants.InstructionNameNewCategory;
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/categories.css" />
        <link rel="stylesheet" href="~/css/instructions.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/categories.min.css" />
        <link rel="stylesheet" href="~/css/instructions.min.css" />
    </environment>
}

<div class="content">
    <partial name="NavBar" />

    <div class="categories-main-container">
        <div class="categories-container">
            @if (Context.Request.Cookies.Any(c => c.Key == newCategoryInstructionsFullName))
            {
                <div class="alert alert-warning mb-5" data-instruction="@Constants.InstructionNameNewCategory">
                    <span class="instructions-title">@Localizer["NewCategoryInstructionsTitle"]</span>
                    <br />
                    <br />

                    @Localizer["NewCategoryInstructions"]
                    <br />
                    <br />
                    <a id="alert-dismiss" href="#">@Localizer["GotIt"]</a>
                </div>
            }

            <h3 class="mb-4">@(Model.IsNew ? Localizer["NewCategory"].Value : string.Format("{0} {1}", Localizer["Edit"].Value, Model.Name))</h3>
            <form action="@(Model.IsNew ? "New" : "Edit")" method="post">

                @if (!Model.IsNew)
                {
                    @Html.HiddenFor(c => c.Id)
                }

                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                }

                <h5>@Localizer["Name"].Value</h5>

                <label for="Name" class="sr-only">@Localizer["Name"]</label>
                <input id="Name" name="Name" type="text" placeholder="@Localizer["Name"]" class="form-control mb-3" required autofocus value="@Model.Name" />
                <h5>@Localizer["Keywords"]</h5>
                <div class="input-group mb-3">
                    <input type="text" id="tags-input" name="tags-input" class="form-control" placeholder="@Localizer["EnterKeyword"]" data-empty-message="@Localizer["AddAtLeastOneKeyword"]">
                    <label for="tags-input" class="sr-only">@Localizer["Keywords"]</label>
                    <div class="input-group-append">
                        <button disabled id="add-tag-btn" class="btn btn-primary btn-block" type="submit">@Localizer["Add"]</button>
                    </div>
                </div>
                <ul id="tags-container" class="list-unstyled" data-duplicated-message="@Localizer["KeywordAlreadyExists"]">
                    <li class="tag-template badge-info new-category-tag">
                        <span>New Tag</span>
                        <a href="#"><i class="fas fa-times"></i></a>
                        <input id="new-tag-name-input" type="hidden" />
                    </li>

                    @if (!Model.IsNew)
                    {
                        for (int i = 0; i < Model.Tags.Count; i++)
                        {
                            <li class="badge-info new-category-tag tag-@i">
                                <span>@Model.Tags[i].Name</span>
                                <a href="#"><i class="fas fa-times"></i></a>
                                <input id="new-tag-name-input" type="hidden" name="Tags[@i].Name" value="@Model.Tags[i].Name" />
                            </li>
                        }
                    }
                </ul>
                <button class="btn btn-primary new-category-add-btn" type="submit">@(Model.IsNew ? Localizer["AddCategory"].Value : Localizer["Save"].Value)</button>
            </form>
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/categories.js"></script>
        <script src="~/js/instructions.js"></script>
        <script src="~/js/logout.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/categories.min.js"></script>
        <script src="~/js/instructions.min.js"></script>
        <script src="~/js/logout.min.js"></script>
    </environment>
}
